// Color Variables
$form-background: #f2f2f2;
$form-border: #ccc;
$form-shadow: rgba(0, 0, 0, 0.1);
$input-background: #fff;
$input-border: #ccc;
$input-hover-border: #0056b3;
$submit-background: #007bff;
$submit-hover-background: darken($submit-background, 10%);
$delete-background: #ff0000;
$delete-color: #fff;
// Accordion Styles
$accordion-background: #f5f5f5;
$accordion-border-color: #e5e5e5;
$accordion-arrow-color: #757575;
$accordion-hover-background: #e0e0e0;
$accordion-nested-background: #e9e9e9;
$accordion-nested-border-color: #d9d9d9;
$accordion-nested-hover-background: #d1d1d1;

// Form Styles
.form {
    background-color: $form-background;
    border: 1px solid $form-border;
    padding: 20px;
    margin: 20px;
    width: max-content;
    padding-right: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 6px $form-shadow;

    input[type="file"] {
        margin-top: 10px;
        display: block;
        width: 98%;
        padding: 12px;
        border: 1px solid $input-border;
        border-radius: 5px;
        background-color: $input-background;
        font-size: 16px;
        transition: border-color 0.3s;

        &:focus, &:hover {
            outline: none;
            border-color: $input-hover-border;
        }
    }

    .submit-file {
        margin-top: 10px;
        padding: 12px 20px;
        background-color: $submit-background;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
            background-color: $submit-hover-background;
        }
    }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $accordion-background;
}

li {
  padding: 10px 15px;
  border-bottom: 1px solid $accordion-border-color;
  cursor: pointer;

  &:hover {
    background-color: $accordion-hover-background;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: $accordion-nested-background;

    li {
      padding: 10px 15px;
      border-bottom: 1px solid $accordion-nested-border-color;
      cursor: pointer;

      &:hover {
        background-color: $accordion-nested-hover-background;
      }
    }
  }

  &::before {
    content: "\25B6"; // Right arrow
    display: inline-block;
    margin-right: 10px;
    color: $accordion-arrow-color;
  }

  &.open {
    ul {
      display: block;
    }

    &::after {
      content: "\25BC"; // Down arrow
    }
  }
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
        color: #0056b3;
    }
}

.go-back {
  margin-top: 50px;
}

.delete-button {
  background-color: $delete-background;
  color: $delete-color;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}