// Estilos para o formulário
.form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: max-content;
    padding-right: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    input[type="file"] {
        margin-top: 10px;
        display: block;
        width: 98%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        font-size: 16px;
        transition: border-color 0.3s;
    }
    .submit-file {
        margin-top: 10px;
        padding: 12px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    input[type="file"]:focus, .submit-file:focus {
        outline: none;
    }
    input[type="file"]:hover, .submit-file:hover {
        border-color: #0056b3;
    }
}
// Acordeon -----------------------------------------------------------------------------------------------------------------------------------------------------------
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  
    &:hover {
      background-color: #f0f0f0;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
  
      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
  
        &:hover {
          background-color: #b9b9b9;
        }
      }
    }
    
    &::before {
      content: "\25B6"; // seta direita
      display: inline-block;
      margin-right: 10px;
    }
    
    &.open {
      ul {
        display: block;
      }
  
      &::before {
        content: "\25BC"; // seta para baixo
      }
    }
  }
  

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
        color: #0056b3;
    }
}

.go-back {
    margin-top: 50px;
}

.delete-button {
  background-color: #ff0000; 
  color: #fff; 
  padding: 5px 10px;
  border: none; 
  cursor: pointer; 
}
