.form {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: max-content;
  padding-right: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .form input[type="file"] {
    margin-top: 10px;
    display: block;
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s; }
    .form input[type="file"]:focus, .form input[type="file"]:hover {
      outline: none;
      border-color: #0056b3; }
  .form .submit-file {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; }
    .form .submit-file:hover {
      background-color: #0062cc; }

ul.accordion {
  list-style: none;
  padding-left: 0;
  width: 100%;
  max-width: 300px; }

li.accordion-list {
  display: flex;
  flex-direction: column;
  margin: 4px 0; }

a.folder {
  text-decoration: none;
  color: #3498db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; }
  a.folder:hover {
    background-color: #3498db;
    color: #fff; }
  a.folder::after {
    content: '\25BC';
    margin-left: 10px; }

a.folder.open::after {
  content: '\25B2'; }

li {
  display: none; }

ul.accordion.open li {
  display: list-item; }

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease; }
  .delete-button:hover {
    background-color: #d62c1a; }

.go-back {
  margin-top: 50px; }
