form {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: max-content;
  padding-right: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  form input[type="file"] {
    margin-top: 10px;
    display: block;
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s; }
  form input[type="submit"] {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; }
  form input[type="file"]:focus, form input[type="submit"]:focus {
    outline: none; }
  form input[type="file"]:hover, form input[type="submit"]:hover {
    border-color: #0056b3; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; }
  li:hover {
    background-color: #f0f0f0; }
  li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; }
    li ul li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer; }
      li ul li:hover {
        background-color: #888888; }
  li::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 10px; }
  li.open ul {
    display: block; }
  li.open::before {
    content: "\25BC"; }

a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  transition: color 0.3s; }
  a:hover {
    color: #0056b3; }

.go-back {
  margin-top: 50px; }
