@charset "UTF-8";
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  line-height: 1.6; }

.form {
  background-color: #333;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: max-content;
  padding-right: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .form input[type="file"] {
    margin-top: 10px;
    display: block;
    width: 98%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    font-size: 16px;
    transition: border-color 0.3s; }
    .form input[type="file"]:focus, .form input[type="file"]:hover {
      outline: none;
      border-color: #007bff; }
  .form .submit-file {
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; }
    .form .submit-file:hover {
      background-color: #0062cc; }

.accordion-container {
  padding: 0;
  margin: 0;
  background-color: #444; }

.accordion-item {
  padding: 10px 15px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  color: #fff; }
  .accordion-item:hover {
    background-color: #555; }
  .accordion-item .accordion-content {
    padding: 0;
    margin: 0;
    display: none;
    width: auto;
    background-color: #333; }
  .accordion-item .accordion-button {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #444;
    text-align: left;
    font-size: x-large;
    color: #fff; }
  .accordion-item:hover {
    background-color: #555; }
  .accordion-item.open .accordion-content {
    display: block; }
  .accordion-item.open .accordion-button::before {
    content: "➖"; }

.accordion-button::before {
  content: "➕"; }

.file-item {
  padding: 10px 15px;
  border-bottom: 1px solid #444;
  cursor: pointer; }
  .file-item:hover {
    background-color: #444; }

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
  font-family: monospace; }
  a:hover {
    color: #0056b3; }

.go-back {
  margin-block: 50px; }

.delete-button {
  background-color: #ff0000;
  color: #fff;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer; }

:root {
  --button-light-bg: #007bff;
  --button-light-text: #fff;
  --button-dark-bg: #333;
  --button-dark-text: #fff; }

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; }
  .button.light {
    background-color: var(--button-light-bg);
    color: var(--button-light-text); }
  .button.dark {
    background-color: var(--button-dark-bg);
    color: var(--button-dark-text); }
